<table>
    <tr>
        <td>Nombre de usuario</td>
        <td>@ViewBag.cuenta.NombreUsuario</td>
        
    </tr>
    <tr>
        <td>Contraseña</td>
        <td>@ViewBag.cuenta.Contraseña</td>
     
    </tr>
    <tr>
        <td>Nombre completo</td>
        <td>@ViewBag.cuenta.NombreCompleto</td>
    
    </tr>
</table>
